---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";
import { SITE } from "@/config";

dayjs.extend(utc);
dayjs.extend(timezone);

type Props = {
  class?: string;
  size?: "sm" | "lg";
  pubDatetime: string | Date;
  timezone?: string;
  modDatetime?: string | Date | null;
};

const {
  pubDatetime,
  modDatetime,
  size = "sm",
  class: className = "",
  timezone: postTimezone,
} = Astro.props;

/* ========== Formatted Datetime ========== */
const isModified = modDatetime && modDatetime > pubDatetime;

const datetime = dayjs(isModified ? modDatetime : pubDatetime).tz(
  postTimezone || SITE.timezone
);

const date = datetime.format("D MMM, YYYY"); // e.g., '22 Mar, 2025'
---

<div
  class:list={[
    "flex items-baseline gap-x-2 font-mono tracking-[0.04em] text-foreground-faint",
    { "text-[0.7rem]": size === "sm" },
    { "text-[0.78rem]": size === "lg" },
    className,
  ]}
>
  {isModified && <span>updated</span>}
  <time datetime={datetime.toISOString()}>{date.toLowerCase()}</time>
</div>
