---
type Props = {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
};

const { tag, tagName, size = "lg" } = Astro.props;
---

<li>
  <a
    href={`/writing/tags/${tag}`}
    transition:name={tag}
    class:list={[
      "font-mono tracking-[0.04em] text-foreground-faint hover:text-accent",
      { "text-[0.7rem]": size === "sm" },
      { "text-[0.85rem]": size === "lg" },
    ]}
  >
    #{tagName}
  </a>
</li>
